*{
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin:0px auto;
    line-height: 1.8;
}

.container{
    max-width: 800px;
    margin:2rem auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px; 
    white-space: nowrap; 
    text-align: center; 
    margin: 20px 0; 
}


#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc;
}

button {
    padding: 8px 16px;
    margin-right: 10px;
}

#tooltip {
    position: absolute;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 3px 40px;
    align-items: start;
    justify-content: left;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

.checkbox-item {
    display: flex;
    align-items: left;
    gap: 5px;
    white-space: nowrap;
}

